.photos {
  &-landing-container {
    height: 100vh;
    // margin-bottom: 5rem;
    overflow: hidden;
    width: 100vw;
  }
  &-project-container {
    height: 100vh;
    width: 100vw;
  }
}

.draggable {
  position: absolute;
  cursor: grab;
  user-select: none;
}