@import 'vars';

.photos {
  &-landing-container {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
  }
  &-project-list {
    margin: 2rem $margins-left-right 0;
    position: absolute;
  }
  &-project-container {
    height: 100vh;
    width: 100vw;
  }
}

.draggable {
  position: absolute;
  cursor: grab;
  user-select: none;
}